
<!DOCTYPE html>
<html>
    {% spaceless %}
    {% autoescape on %}
    <head>

        {% load static %}
        {% block meta_base %}

            {% comment %} <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">  {% endcomment %}

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        {% endblock meta_base %}

        <script>
            {% block java_script %}
            {% endblock java_script %}
        </script>

    </head>
    <body>
        {% block body %}
        {% endblock body %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>    
    </body>
    {% endautoescape %}
    {% endspaceless %}
</html>
