<header class="p-3 bg-dark text-white">
<div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
        {% comment %} <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form> {% endcomment %}
        {% if request.user.is_authenticated %}
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'shedm:home' %}" class="nav-link px-2 text-secondary">Главная</a></li>
                <li><a href="{% url 'shedm:projects' %}" class="nav-link px-2 text-white">Проекты</a></li>
                <li><a href="{% url 'shedm:all_user_task' %}" class="nav-link px-2 text-white">Мои задачи</a></li>
                <li><a href="{% url 'shedm:add_project' %}" class="nav-link px-2 text-white">Создать проект</a></li>
                {% if request.user.is_superuser %}
                <li><a href="{% url 'shedm:user_list' %}" class="nav-link px-2 text-white">Удаление пользователя</a></li>
                {% endif %}
            </ul>
            <div class="text-end">
                <a href="{% url 'shedm:update_user' pk=request.user.id %}" type="button" class="btn btn-secondary me-2">{{ user.username }}</a>
                <a href="{% url 'shedm:logout' %}" type="button" class="btn btn-warning">Выйти</a>
            </div>
        {% else %}
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'shedm:home' %}" class="nav-link px-2 text-secondary">Главная</a></li>
            </ul>
            <div class="text-end">

                <a href="{% url 'shedm:login' %}" type="button" class="btn btn-outline-light me-2">Войти</a>
                <a href="{% url 'shedm:register' %}" type="button" class="btn btn-warning">Регистрация</a>
            </div>
        {% endif %}
      </div>
    </div>
</header>
<div class="b-example-divider"></div>